html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #2a6c88;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 800px;
}

/* Texto responsive */

h1 {
  font-size: 22px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-size: 20px;
}

@media (min-width: 576px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.oswald-center-white {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
}

.nanum {
  font-family: 'Questrial', sans-serif;
}

.text-background {
  color: #2a6c88;
}

@media screen and (max-width: 576px) {
  #imagenGabrielInicio {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  #imagenGabrielInicio {
    width: 300px;
  }
}

.pointer {
  cursor: pointer;
}

.zoom-hover {
  transform: scale(1.2);
  z-index: 10;
}

hr {
  background-color: white;
  height: 4px;
  border: 0;
}